<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindDev"
        tools:targetApi="31">
        <activity
            android:name=".ParabensDesenvolvedorCadastro"
            android:exported="false" />
        <activity
            android:name=".empresa.fragment.ModalCandidatoContratado"
            android:exported="false" />
        <activity
            android:name=".empresa.fragment.ModalCandidatos"
            android:exported="false" />
        <activity
            android:name=".empresa.Candidatos"
            android:exported="false" />
        <activity
            android:name=".empresa.fragment.ModalAvaliacaoColaboradores"
            android:exported="false" />
        <activity
            android:name=".empresa.fragment.ModalColaboradores"
            android:exported="false" />
        <activity
            android:name=".empresa.Colaboradores"
            android:exported="false" />
        <activity
            android:name=".empresa.fragment.ModalVagaCanceladaEmpresa"
            android:exported="false" />
        <activity
            android:name=".empresa.fragment.ModalVagasPublicadasEmpresa"
            android:exported="false" />
        <activity
            android:name=".empresa.VagasPublicadasEmpresa"
            android:exported="false" />
        <activity
            android:name=".dev.fragment.ModalAvaliacaoVagaEncerrada"
            android:exported="false" />
        <activity
            android:name=".dev.fragment.ModalVagasEncerradas"
            android:exported="false" />
        <activity
            android:name=".empresa.EdicaoPerfilEmpresa"
            android:exported="false" />
        <activity
            android:name=".empresa.PerfilEmpresa"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".empresa.PublicacaoDeVagas"
            android:exported="false" />
        <activity
            android:name=".dev.fragment.ModalVaga"
            android:exported="false" />
        <activity
            android:name=".dev.ListaBuscaVagasDev"
            android:exported="false" />
        <activity
            android:name=".dev.JobsEncerradosDev"
            android:exported="false" />
        <activity
            android:name=".dev.PerfilDev"
            android:exported="true" />
        <activity
            android:name=".dev.EdicaoPerfilDev"
            android:exported="false" />
        <activity
            android:name=".dev.BuscaVagaDev"
            android:exported="true" />
        <activity
            android:name=".empresa.PosLoginEmpresa"
            android:exported="true" />
        <activity
            android:name=".dev.PosLoginDev"
            android:exported="true" />
        <activity
            android:name=".cadastro.ParabensEmpresaCadastro"
            android:exported="true" />
        <activity
            android:name=".cadastro.ActivityCadastroStep1"
            android:exported="true" />
        <activity
            android:name=".empresa.ActivityCadastroEmpresa"
            android:exported="true" />
        <activity
            android:name=".dev.CadastroDev"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>